body {
    background-color: #1e1e1e;
    color: #f0f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

header h1 { color: #55FF55; text-shadow: 2px 2px #000; }

section {
    background: #333;
    border: 4px solid #000;
    padding: 20px;
    margin: 10px;
    width: 90%;
    max-width: 500px;
    box-shadow: 4px 4px 0px #555;
}

button {
    background: #555;
    color: white;
    border: 2px solid #000;
    padding: 10px;
    cursor: pointer;
}

button:hover { background: #777; }

.enchant-item {
    background: #444;
    margin: 5px 0;
    padding: 8px;
    border-left: 5px solid #AA00AA;
    display: flex;
    justify-content: space-between;
}
